<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.zj.ssm.mapper.UserMapper">
	

	
	<insert id="insert" parameterType="User"
		keyColumn="id" keyProperty="id" useGeneratedKeys="true"
	>
		
		insert into user (name,password,age)values(#{name},#{password},#{age})
		
	</insert>
	
	<!-- 删除功能 -->
	<delete id="deleteByPrimaryKey" parameterType="Integer">
	
		<!-- 
			#{xxx} : 如果参数是值类型（字符串+基本数据类型），并且方法只有一个参数
				底层反射直接将将值可以赋值进去，理论上xxx 可以任意写
				但是：我们一般命名都要见名之意
		 -->
		delete from user where id = #{id}
	</delete>
	
	<!-- 修改功能 -->
	<update id="updateByPrimaryKey" parameterType="User" >
		update user set name = #{name},password=#{password},age=#{age} where id = #{id}
	</update>
	
	
	<!-- 单行查询
	resultType : 返回数据类型，和 映射接口方法的返回类型相同，权限定 名
	 -->
	<select id="selectByPrimaryKey" parameterType="Integer" resultType="User">
		select * from user where id = #{id}
	</select>
	
	<!-- 查询所有数据 
	resultType ： 无论单行查询还是多行查询，映射文件返回的数据类型都是对应的标的pojo类型
	-->
	<select id="selectList" resultType="User">
		select * from user
	</select>
</mapper>